body {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  font-weight: bold;
  font-family: "PT Sans Narrow", sans-serif;
}

h1 {
  margin-top: 0;
  font-size: 30px;
  line-height: 42px;
}

h2 {
  margin-top: 0;
  font-size: 24px;
  line-height: 30px;
}

header {
  margin-bottom: 54px;
}

.container {
  width: 960px;
  padding: 0 10px;
  margin: 0 auto;
}

.logo {
  float: left;
  width: 111px;
  height: 24px;
  margin: 23px 0 0 20px;
}

.main-navigation {
  float: left;
  width: 640px;
  margin-left: 30px;
  padding: 10px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.login {
  float: right;
  width: 90px;
}

.column-center {
  margin-bottom: 57px;
}

.column-left {
  float: left;
  width: 230px;
}

.filter-manufacturer {
  margin-bottom: 40px;
}

.filter-group {
  margin-bottom: 33px;
}

.column-right {
  float: right;
  width: 710px;
}

.products {
  margin-bottom: 35px;
}

.product {
  display: inline-block;
  width: 220px;
  margin: 10px;
}

.product:nth-child(3n) {
  margin-right: 0;
}

.numbering-navigation {
  margin: 0 0 49px 10px;
}

footer .container {
  padding-top: 58px;
}

.adress {
  float: left;
  width: 310px;
  margin-right: 90px;
}

.social {
  float: left;
  width: 190px;
}

.copyright {
  float: right;
  width: 140px;
}

.preview {
  float: left;
  width: 460;
  height: 668px;
  margin-bottom: 49px;
}

.big-preview {
  margin-bottom: 21px;
}

.text {
  float: right;
  width: 390px;
}

.avail {
  float: left;
}
.code {
  float: right;
}

.description {
  clear: both;
  margin-bottom: 43px;
}

.price {
  width: 187px;
  height: 43px;
}

.details {
  width: 390px;
  margin-top: 65px;
}
